<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12"> 
                <% if( locals.user.role == "AUTHORITY" || locals.user.role == "POLICE" ) { %>
                    <h5 class="mb-3">Create Tokens</h5>
                    <div class="row">

                        <% if( locals.user.role == "AUTHORITY" ) { %>
                            <form action="/algo/create-token/merchant" method="POST" class="col-md-4">
                                <div class="form-group mb-3">
                                    <input class="form-control btn-primary" type="submit" value="Create merchant id token">
                                </div>
                            </form>
                            <form action="/algo/create-token/vat" method="POST" class="col-md-4">
                                <div class="form-group mb-3">
                                    <input class="form-control btn-primary" type="submit" value="Create VAT Coins">
                                </div>
                            </form>
                        <% } %>
                        <% if( locals.user.role == "POLICE" ) { %>
                            <form action="/algo/create-token/id" method="POST" class="col-md-4">
                                <div class="form-group mb-3">
                                    <input class="form-control btn-primary" type="submit" value="Create tourist id token">
                                </div>
                            </form>
                        <% } %>
                    </div>
                <% } %>
                

                
                <% if( locals.user.role == "AUTHORITY" || locals.user.role == "POLICE" || locals.user.role == "CUSTOMS" ) { 
                    let actionPath = "/algo/clawback"
                    if( locals.user.role == "CUSTOMS" ) actionPath = "/algo/pay_user_vat"%>

          

                <form class="mt-5 row" action="<%=actionPath%>" method="POST" id="application-form">
                    <h5 > Pending Applications </h5>
                    <%
                        let message;
                        let button;
                        let select_label = "Select the target user";
                        if( locals.user.role == "POLICE" ){
                            message = "Transfers identy tokens to toursits"; // police
                            button = "Grant Token"; // police
                        } else if( locals.user.role == "AUTHORITY" ){
                            message = "Transfer identity tokens and VAT Coins"; // authority
                            button = "Authorise"; // authority
                        } else if( locals.user.role == "CUSTOMS" ){
                            message = "List all the VAT Coin transactions for a tourist and authorise the VAT refund according to local conditions. If a transaction does not satisfies the condition, the relative VAT will be refunded to the merchant (highlighted in red).";
                            button = "Refund VAT"; // customs
                            select_label="Select the tourist";
                        }
                    %>
                    <small class="mb-3" > <%= message %> </small>

                    <div class="form-group mb-1 col-md-12">
                        <label class="form-label" for="toAddress"><%=select_label%></label>
                        <select class="form-control <%= locals.user.role == "CUSTOMS" ? "preview": "" %>" 
                        name="toAddress" 
                        id="toAddress">
                            <% for( let application of locals.applications ) { 
                                if( 
                                    locals.user.role == "AUTHORITY" && 
                                    !( application.tokenId == process.env.ASSET_MERCHANT  || application.tokenId == process.env.ASSET_VAT )
                                ) { continue }
                                else if ( 
                                    locals.user.role == "POLICE" && 
                                    !( application.tokenId == process.env.ASSET_TOURIST )
                                ) { continue }
                                else if (
                                    locals.user.role == "CUSTOMS" &&
                                    application.tokenId 
                                )  { continue }
                                
                                %>
                                <option value="<%=application.owner.algo_address%>" 
                                    data-amount="<%=application.amount%>"
                                    data-id="<%=application._id%>"
                                    data-token-id="<%=application.tokenId%>" >
                                    <%=application.owner.role%>: <%=application.owner.name%>
                                    <%= application.amount ? ", Amount: " + application.amount : "" %>
                                </option>
                            <% } %>
                        </select>
                    </div>
                    

                    <input type="hidden" class="form-control"  name="amount" value="1">
                    <input type="hidden" name="note" value="some kind of hash">
                    <input type="hidden" name="fromAddress" value="<%=locals.user.algo_address%>">
                    <input type="hidden" name="applicationId" value="">
                    <input type="hidden" name="tokenId" value="" >

                    <div class="form-group mb-3 col-md-12">
                        <% if( locals.user.role == "CUSTOMS" ) { %> 
                            <div class="form-control btn-primary  mb-3 preview text-center" type="button" >Preview VAT Coin transactions</div>
                        <% } %> 
                        <input class="form-control btn-primary submit" type="submit" value="<%=button%>">
                    </div>
                </form>
                <% } %>

                <% if( locals.user.role == "USER" || locals.user.role == "MERCHANT" ) { %>
                <h5 class="mb-3 mt-5">Applications</h5>
                <div class="row">

                    <% if( locals.user.role == "MERCHANT" || locals.user.role == "USER") { %>
                        <form action="/algo/opt-in" method="POST" class="col-md-12">
                            <div class="form-group mb-3">
                                <% for( let asset of locals.assets ) { %>
                                    <% if( asset.type == "ASSET_VAT" ) { %>
                                        <input type="hidden" name="tokenId" value="<%=asset.id%>">
                                    <% } %>
                                <% } %>
                                <input class="form-control btn-primary" type="submit" value="Unlock your wallet to allow VAT Coin transactions">
                            </div>
                        </form>
                    <% } %>

                    <% if( locals.user.role == "USER" ) { %>
                        
                        <% if( !locals.verified ) { %>
                        <form action="/algo/opt-in" method="POST" class="col-md-12">
                            <div class="form-group mb-3">
                                <% for( let asset of locals.assets ) { %>
                                    <% if( asset.type == "ASSET_TOURIST" ) { %>
                                        <input type="hidden" name="tokenId" value="<%=asset.id%>">
                                    <% } %>
                                <% } %>
                                <input class="form-control btn-primary" type="submit" value="Become a VAT Coin privileged tourist ">
                            </div>
                        </form>
                        <% } %>
                        
                        <form class="row" action="/apply/id" method="POST" class="col-md-12">
                            <div class="form-group mb-3 col-md-6">
                                <select name="amount" id="" class="form-control">
                                    <option value="0" selected>Amount</option>
                                    <option value="5">5</option>
                                    <option value="500">500</option>
                                    <option value="1000">1000</option>
                                    <option value="1500">1500</option>
                                    <option value="2000">2000</option>
                                </select>
                            </div>
                            <% for( let asset of locals.assets ) { %>
                                <% if( asset.type == "ASSET_VAT" ) { %>
                                    <input type="hidden" name="tokenId" value="<%=asset.id%>">
                                <% } %>
                            <% } %>
                            <div class="form-group mb-3 col-md-6">
                                <input class="form-control btn-primary" type="submit" value="Buy VAT Coins">
                            </div>
                        </form>
                        
                    <% } %>

                    <% if( locals.user.role == "MERCHANT" ) { %>
                        <form action="/algo/opt-in" method="POST" class="col-md-12">
                            <div class="form-group mb-3">
                                <% for( let asset of locals.assets ) { %>
                                    <% if( asset.type == "ASSET_MERCHANT" ) { %>
                                        <input type="hidden" name="tokenId" value="<%=asset.id%>">
                                    <% } %>
                                <% } %>
                                <input class="form-control btn-primary" type="submit" value="Become a VAT Coin merchant">
                            </div>
                        </form>
                    <% } %>

                </div>
                <% } %>

                <% if( locals.user.role == "USER" ) { %>
                <h5 class="mb-3 mt-5">Payment</h5>
                <div class="row">
                    <form class="row" action="/algo/pay" method="POST" class="col-md-12">
                        <div class="form-group mb-3 col-md-4">
                            <label class="form-label" >Pay Amount</label>
                            <input class="form-control" type="number" name="amount" placeholder="Amount" step="0.01" min="150">
                        </div>
                        <div class="form-group mb-3 col-md-4">
                            <label class="form-label" for="toAddress">Select the receiver user</label>
                            <select class="form-control" name="toAddress" id="toAddress">
                                <% for( let list_user of locals.users ) { %>
                                    <% if( list_user.role == "MERCHANT" ) { %>
                                        <option value="<%=list_user.algo_address%>"><%=list_user.name%>, Role: <%=list_user.role%></option>
                                    <% } %>
                                <% } %>
                            </select>
                        </div>
                        <% for( let asset of locals.assets ) { %>
                            <% if( asset.type == "ASSET_VAT" ) { %>
                                <input type="hidden" name="tokenId" value="<%=asset.id%>">
                            <% } %>
                        <% } %>
                        
                        <input type="hidden" name="note" value="some kind of hash">

                        <div class="form-group mb-3 col-md-4">
                            <label class="form-label" for="toAddress"></br></label>
                            <input class="form-control btn-primary" type="submit" value="Pay merchant">
                        </div>
                    </form>
                </div>
                <h5 class="mb-3 mt-5">End your journey</h5>
               
                <div class="row">
                    
                    
                        <form action="/apply/end" method="POST" class="col-md-12">
                            <input class="form-control btn-primary" type="submit" value="Claim your VAT">
                        </form>
                    
                </div>
                <% } %>

                
                <% if( locals.user.role == "CUSTOMS" ) { %>
                <table class="table table-striped refound-preview-table">
                    <thead>
                        <tr>
                            <th scope="col">Transaction</th>
                            <th scope="col">Sender</th>
                            <th scope="col">Receiver</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Refunding</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <% } %>
                

                
            </div>
        </div>
    </div>
</section>
